.header {
  height: 50px;
  margin-bottom: 12px;

  background-color: white;
}

.header img {
  width: 100px;
  height: 20px;
}

.header_inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 50px;

  width: 1200px;
  margin: auto;
}