.nav {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
  
  grid-area: n;
  background-color: transparent;
  text-decoration: none;
  padding: 10px;
}

.item {
  display: flex;
  align-items: center;
  color: black;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}
.item:hover{
  background-color: #dddddd;
}
.icon{
  padding: 5px;
}
