.nav {
  grid-area: n;
  background-color: transparent;
  text-decoration: none;
  padding: 10px
}

.item {
  /* color: black; */
  /* padding: 5px; */
  cursor: pointer;
}
.item:hover{
  background-color: #dddddd;
}
.item a{
  width: 100%;
  height: 100%;
  color: black;
}
.item a:visited{
  color: black;
}

/* .active {
  color: gold;
} */