.container{
  background-image: url('https://tinypng.com/images/social/website.jpg');
  display: grid;
  align-items: end;

  height: 400px;
  margin: 0px 0px 50px;
}

.head{
  display: flex;
  background-color: white;
  padding: 10px
}

.avatar{
  border: 1px solid red;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.avatar img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: block;
}

.description{
  margin-left: 40px;
  margin-top: 90px;
  padding: 10px;
  width: 100%;
}

