.container{
  display: grid;
  justify-content: center;
}
.loginForm{
  width: 350px;
}
.fieldContainer{
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.error{
  display: inline;
  color: red
}
.submit{
  display: block;
}